
body {
	background-color: black;
	font-family:Agency FB;
}
li a:hover {
	color: gray;
	background-color: 000;
}
li {
	display: inline;
	font-size: 2vw;
	text-decoration: none;
	color:black;
	font-family:arial;
	margin:0.5% 1%;
}
a {
	display: inline;
	padding: 1% 2%;
	border: 1%; 
	background-color: white;
	font-family: arial;
	font-size: 2vw; 
    text-decoration: none;	
	}
ul {
	padding: 1% 0%;
	background-color: white;
	border: 1% gray;
}



li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0.1% 2%;
    text-decoration: none;
}

li .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
	margin:3% 10%;
	
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content {
    display: block;
}

.drone {
	position: absolute; left: 2%;
}
h1 {
	color:white;
	font-size:2vw;
}
.color {
	color:white;
	position:absolute; top:60%;
}
p{
text-align: center;
color:white;
font-size:1vw;
}
h2 {
color:white;
position:absolute; left:15%; top:30%;
font-size:2vw;
}
h3 {
color:white;
position:absolute; right:15%; top:30%;
font-size:2vw;
}

#img1{
	position:absolute; left:4.6%; top:40%;
}

.hello {
	position:absolute; left:71%; top:40%;
}